.classpath
.project
/logs/*
/target/*
/error.log
/rar/*
/mail.log
/catalina.home_IS_UNDEFINED/*
/rar_repo/*
/target/
/db/*
/.svn
Desktop.ini
README.txt
authz
db-logs.lock
db.lock
format
hooks-env.tmpl
passwd
post-commit.tmpl
post-lock.tmpl
post-revprop-change.tmpl
post-unlock.tmpl
pre-commit.tmpl
pre-lock.tmpl
pre-revprop-change.tmpl
pre-unlock.tmpl
rar_repo
start-commit.tmpl
svn.ico
svnserve.conf